# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo

# Chroma Database
.chroma_db/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Uploaded PDFs
data/*.pdf

# Temporary files
*.tmp